 <div id="page">
  <%= form_remote_tag   :url=> {:action=> :save_page_with_ajax, :id=>@page.name}, 
                        :update=> {:success=>"main"},
                        :complete => visual_effect(:highlight, "main", :duration => 1.5 )
 
  %>
  <%= text_area :page, :text %>
  <br/>
  <input type="submit" name="submit" id="form-submit-button" value="submit" class="button" />
  <%= end_form_tag %>
  
  
 </div> 