<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= page_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= auto_discovery_link_tag(:rss, feed_url) %>


  <%= stylesheet_link_tag 'instiki' %>
  <%= content_tag "style", @style_additions, :type => "text/css" %>
</head>

<body>
      <!-- <%= Config.constants %> -->
      <h1 id="pageName"><%= page_heading %></h1>
      <% unless @home %>
      <div class="navigation" id="navigationForm">
        <%= link_to_unless(@page && @page.title == "Home Page", "Home Page", home_url)  { content_tag('b', "Home Page", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "All Pages", "All Pages", pages_url) { content_tag('b', "All Pages", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "Recently Revised", "Recently Revised", recent_url) { content_tag('b', "Recently Revised", 'class' => 'navOn') } %> |
        <%= link_to("Feed", feed_url) %>
      </div>
      <% end %>
      <%= @content_for_layout %>

</body>
</html>
