<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= page_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="IT"/>
  <meta name="Rating" content="General"/>
  <meta name="Keywords" content="ruby italia, programmare ruby, ruby guida italiano, programmazione ruby, tutorial ruby italiano"/>
  <meta name="Abstract" content="il sito della comunità italiana dedicato alla programmazione con ruby "/>
  <meta name="Title" content="Ruby Italia Wiki"/>
  <meta name="revisit-after" content="7"/>
  <meta name="Robots" content="index,follow"/>
  <meta name="Description" content="il sito della comunità italiana dedicato alla programmazione con ruby contiene tutorial, guide, documentazione, mailing list ed un wiki. "/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>



  <%= auto_discovery_link_tag(:rss, feed_url) %>
  <%= stylesheet_link_tag 'instiki' %>
</head>

<body>
      
      <h1 id="pageName"><%= page_heading %></h1>
      <% unless @home %>
      <div class="navigation" id="navigationForm">
        <%= link_to_unless(@page && @page.title == "Home Page", "Home Page", home_url)  { content_tag('b', "Home Page", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "All Pages", "All Pages", pages_url) { content_tag('b', "All Pages", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "Recently Revised", "Recently Revised", recent_url) { content_tag('b', "Recently Revised", 'class' => 'navOn') } %> |
        <%= link_to("Feed", feed_url) %>
      </div>
      <% end %>
      <%= @content_for_layout %>
      <div id="footer">
      
        Powered by <%=wiki_link "qb"%> on 
        <a href="http://www.rubyonrails.com">Rails</a>,  
        Licensed as <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/it/" rel="license">Attribution-ShareAlike</a>,   
      Hosting by <a href="http://www.unbit.it">UnBit.it</a>
      </div>
</body>
</html>
