<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= page_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= auto_discovery_link_tag(:rss, feed_url) %>

  <style type="text/css">
    h1#pageName, .newWikiWord a, a.existingWikiWord, .newWikiWord a:hover, #TextileHelp h3 { 
      color: #393; 
    }

    #Container, #Content {
      width: <%= @content_width || "600" %>px;
    }
  </style>

  <%= stylesheet_link_tag 'instiki' %>
  <%= content_tag "style", @style_additions, :type => "text/css" %>
</head>

<body>
      <h1 id="pageName"><%= page_heading %></h1>
      <% if @tagline %>
        <h3 id="tagline"> <%=@tagline%> </h3>
      <% end %>
      <% unless @home %>
      <form class="navigation" id="navigationForm">
        <%= link_to_unless(@page && @page.title == "Home Page", "Home Page", home_url)  { content_tag('b', "Home Page", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "All Pages", "All Pages", pages_url) { content_tag('b', "All Pages", 'class' => 'navOn') } %> |
        <%= link_to_unless(@title == "Recently Revised", "Recently Revised", recent_url) { content_tag('b', "Recently Revised", 'class' => 'navOn') } %> |
        <%= link_to("Feed", feed_url) %>
      </form>
      <% end %>
      <%= @content_for_layout %>

<% if false %>
      <div id="footer">
        <p><a href="http://instiki.org/">i2</a> on <a href="http://rubyonrails.com/">Rails</a></p>
      </div>
<% end %>
</body>
</html>
