<html>
<head>
  <title>lxpDiary, un piccolo blog</title>
  <link href="/stylesheets/mio.css" rel="stylesheet" type="text/css" />
</head>
<body>
<p>
  <h2> lxpDiary deliri quotidiani</h2>
</p>

 <%= @content_for_layout %>

 <i>powered by <a href="http://www.rubyonrails.org">rails</a></i>
</body>
</html>

